= form_for @task, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'form-control'
  .form-group
    = f.label :app_type, :class => 'control-label'
    .controls
      = f.text_field :app_type, :class => 'form-control'
  .form-group
    = f.label :paid, :class => 'control-label'
    .controls
      = f.text_field :paid, :class => 'form-control'
  .form-group
    = f.label :release_at, :class => 'control-label'
    .controls
      = f.text_field :release_at, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn btn-default'
