- model_class = Task
.page-header
  %h1=t '.title', :default => [:'helpers.titles.link', 'Link %{model}'], :model => model_class.model_name.human.titleize
= form_for @task, :html => { :class => 'form-horizontal' }, :url => { :action => 'update_sale'} do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale.errors.count, 'error')} prohibited this product from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  = f.label "#{@task.name} に対して紐付けする販売を選択"
  .form-group
    = f.label :sale_id, :class => 'control-label'
    .controls
      = f.select :sale_id, Sale.where.not(:task_id => @task.id).pluck(:name, :id), :class => 'form-control'
  = f.submit t("helpers.links.link_sale"), :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn btn-default'
