= form_for @product, :html => { :class => 'form-horizontal' } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, 'error')} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :genre_id, :class => 'control-label'
    .controls
      = f.select :genre_id, @product.genre_choices, :class => 'form-control'
  .form-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.select :category, @product.category_choices, :class => 'form-control'
  .form-group
    = f.label :thumbnail_file, :class => 'control-label'
    .controls
      = f.file_field :thumbnail_file, :class => 'form-control preview-src', :accept => 'image/*'
  .form-group
    = f.label :exported_file, :class => 'control-label'
    .controls
      = f.file_field :exported_file, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t('helpers.links.cancel')), products_path, :class => 'btn btn-default'
  %div
    = image_tag '', :id=>'preview'
