= form_for @product, :html => { :class => 'form-horizontal' } do |f|
  - if @product.errors.any?
    .error_explanation
      %h2= @product.errors.count.to_s + "件のエラーがあります。" 
      - @product.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.label :name, "テンプレート一覧画面での表示名", :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :genre_id, "このテンプレートの種類", :class => 'control-label'
    .controls
      = f.select :genre_id, @product.genre_choices, :class => 'form-control'
  .form-group
    = f.label :category, "有料または無料テンプレート", :class => 'control-label'
    .controls
      = f.select :category, @product.category_choices, :class => 'form-control'
  .form-group
    = f.label :thumbnail_file, "一覧画面上でのサムネイル画像", :class => 'control-label' 
    .controls
      = f.file_field :thumbnail_file, :class => 'form-control', :accept => 'image/*'
  .form-group
    = f.label :exported_file, "エクスポートデータ", :class => 'control-label'
    .controls
      = f.file_field :exported_file, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'
