= form_for @product, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :name, "テンプレート一覧画面での表示名", :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :genre, "このテンプレートの種類", :class => 'control-label'
    .controls
      = f.select :genre, @product.get_genre_display_obj, :class => 'form-control'
  .form-group
    = f.label :category, "有料または無料テンプレート", :class => 'control-label'
    .controls
      = f.select :category, @product.get_category_display_obj, :class => 'form-control'
  .form-group
    = f.label :thumbnail_url, "一覧画面上でのサムネイル画像", :class => 'control-label' 
    .controls
      = f.file_field :thumbnail_url, :class => 'form-control', :accept => 'image/*'
  .form-group
    = f.label :data_url, "エクスポートデータ", :class => 'control-label'
    .controls
      = f.file_field :data_url, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'
