= form_for @sale, :html => { :class => 'form-horizontal' } do |f|
  - if @sale.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale.errors.count, 'error')} prohibited this product from being saved:"
      %ul
        - @sale.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :price_id, :class => 'control-label'
    .controls
      = f.select :price_id, @sale.price_choices, :class => 'form-control'
  .form-group
    = f.label :sale_category_id, :class => 'control-label'
    .controls
      = f.select :sale_category_id, @sale.sale_category_choices, :class => 'form-control'
  .form-group
    = f.label :display_order, :class => 'control-label'
    .controls
      = f.text_field :display_order, :class => 'form-control'
  .form-group
    = f.label :thumbnail_file, :class => 'control-label'
    .controls
      = f.file_field :thumbnail_file, :accept => 'image/*', :class => 'form-control'
  .form-group
    = f.label :preview1_file, :class => 'control-label'
    .controls
      = f.file_field :preview1_file, :accept => 'image/*', :class => 'form-control'
  .form-group
    = f.label :preview2_file, :class => 'control-label'
    .controls
      = f.file_field :preview2_file, :accept => 'image/*', :class => 'form-control'
  .form-group
    = f.label :preview3_file, :class => 'control-label'
    .controls
      = f.file_field :preview3_file, :accept => 'image/*', :class => 'form-control'
  .form-group
    = f.label :preview4_file, :class => 'control-label'
    .controls
      = f.file_field :preview4_file, :accept => 'image/*', :class => 'form-control'
  .form-group
    = f.label :preview5_file, :class => 'control-label'
    .controls
      = f.file_field :preview5_file, :accept => 'image/*', :class => 'form-control'
  .form-group
    = f.label :is_new, :class => 'control-label'
    .controls
      = f.select :is_new, @sale.is_new_choices, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), sales_path, :class => 'btn btn-default'
