- model_class = Sale
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @sale.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @sale.description
%p
  %strong= model_class.human_attribute_name(:price) + ':'
  %br
  = @sale.price
%p
  %strong= model_class.human_attribute_name(:genre_id) + ':'
  %br
  = @sale.genre_id
%p
  %strong= model_class.human_attribute_name(:display_order) + ':'
  %br
  = @sale.display_order
%p
  %strong= model_class.human_attribute_name(:thumbnail_url) + ':'
  %br
  = @sale.thumbnail_url
%p
  %strong= model_class.human_attribute_name(:preview1_url) + ':'
  %br
  = @sale.preview1_url
%p
  %strong= model_class.human_attribute_name(:preview2_url) + ':'
  %br
  = @sale.preview2_url
%p
  %strong= model_class.human_attribute_name(:preview3_url) + ':'
  %br
  = @sale.preview3_url
%p
  %strong= model_class.human_attribute_name(:preview4_url) + ':'
  %br
  = @sale.preview4_url
%p
  %strong= model_class.human_attribute_name(:preview5_url) + ':'
  %br
  = @sale.preview5_url
%p
  %strong= model_class.human_attribute_name(:visible) + ':'
  %br
  = @sale.visible
%p
  %strong= model_class.human_attribute_name(:approval_at) + ':'
  %br
  = @sale.approval_at
%p
  %strong= model_class.human_attribute_name(:is_new) + ':'
  %br
  = @sale.is_new
%p
  %strong= model_class.human_attribute_name(:area) + ':'
  %br
  = @sale.area
%p
  %strong= model_class.human_attribute_name(:optimum_plan) + ':'
  %br
  = @sale.optimum_plan
%p
  %strong= model_class.human_attribute_name(:task_id) + ':'
  %br
  = @sale.task_id


= link_to t('.back', :default => t("helpers.links.back")), sales_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_sale_path(@sale), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), sale_path(@sale), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
